.success:before {
  background-color:#4dbd74;
}

.danger:before {
  background-color:#f86c6b;
}

.warn:before {
  background-color:#ffc107;
}

.info:before {
  background-color:#63c2de;
}

.toast-message {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  color: #878787;
}

.toast-content {
  padding-left:20px;
  padding-right:60px;
}

.toast {
  margin-bottom:20px;
  text-align:left;
  padding: 21px 0;
  background-color:#fff;
  max-width: 500px;
  top: 0px;
  position:relative;
  box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
  vertical-align: middle;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.toast:before {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
}

.toast-close {
    position: absolute;
    right: 22px;
    top: 50%;
    width: 14px;
    cursor:pointer;
    height: 14px;
    fill:#878787;
    transform: translateY(-80%);
}

.toast-close:hover {
    fill:#000;
}

.animation-enter {
  opacity: 0.01;
  transform: scale(0.7) translateX(30%);
}

.animation-enter-active {
  opacity: 1;
  transform: scale(1) translateX(0%);
  transition: all 200ms ease-out;
}

.animation-exit {
  opacity: 1;
  transform: scale(1) translateX(0%);
}

.animation-exit-active {
  opacity: 0.01;
  transform: scale(0.7) translateX(70%);
  transition: all 200ms ease-out;
}
    