.edit1 {
  font-size: 1.95em;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.616);
  border-radius: 50%;
  padding: 4px;
  color: rgb(230, 223, 223);
  height: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  width: 100%;
}
.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  overflow: hidden;
}
.text-notification {
  font-size: 11px;
  letter-spacing: -0.5px;
  font-weight: 400;
}
.vspace {
  margin-bottom: 7px;
  border-top: 1px solid #13242742;
}
.no-padding {
  padding-right: 0;
  padding-left: 0;
  padding: 3px;
}

span.user {

  background: blueviolet;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em; 
}

.linkActive {
  cursor: pointer;
}